<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MnistParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MnistParser.Properties.Settings>
            <setting name="MnistDataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="trainImagesFileName" serializeAs="String">
                <value>train-Images.Idx3-ubyte</value>
            </setting>
            <setting name="trainLabelsFileName" serializeAs="String">
                <value>train-labels.idx1-ubyte</value>
            </setting>
            <setting name="testImagesFileName" serializeAs="String">
                <value>t10k-images.idx3-ubyte</value>
            </setting>
            <setting name="testLabelsFileName" serializeAs="String">
                <value>t10k-labels.idx1-ubyte</value>
            </setting>
        </MnistParser.Properties.Settings>
    </applicationSettings>
</configuration>